/idea
*.sln
*.csproj
bin
obj
/.idea/.idea*
node_modules
/feedly-open-unread.sln.DotSettings.user
/feedly-open-unread.zip
/.idea/workspace.xml
/.idea/feedly-open-unread.iml
/.idea/modules.xml
/.idea/*
*.iml
.DS_Store
.eslintrc.yml