/idea
*.sln
*.csproj
bin
obj
/.idea/.idea*
web-ext-artifacts
node_modules
/feedly-open-unread.sln.DotSettings.user
/feedly-open-unread.zip
/.idea/workspace.xml
/.idea/feedly-open-unread.iml
/.idea/modules.xml
